:root {
  --primary-color: #4A3428;
  --secondary-color: #8B4513;
  --accent-color: #D2691E;
  --text-color: #333;
  --light-color: #FFF;
  --background-color: #FFF8F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

/* Hapus bagian background image dari sini karena sudah dipindah ke Header.css */